# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#git config
.git/config

# Django stuff:
*.log
# db.sqlite3

# Environments
.env
.envrc
venv

# Other
.DS_Store
.vscode/
staticfiles/

#aws Keys
giglance.pem
