{% extends 'base.html' %}


{% block title %}Create Course{% endblock %}

{% block content %}

<div
  style="margin-top: 15px; margin-left: 35px; height: 680px;" 
  
  >
   <div>
    <h3 class="title is-size-1">Create Course here</h3>
    <hr/>
    <form method="POST">
      {% csrf_token %}

      {{ form }}
      <div class="field" style="margin-bottom: 8px;">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" style="padding: 5px 10px" name="title" type="text" placeholder="Enter name of product">
          </div>
        </div>
        <div class="field" style="margin-bottom: 8px;">
          <label class="label">Description</label>
          <div class="control">
            <input class="input"  style="padding: 5px 10px;" name="description" type="text" placeholder="description">
          </div>
        </div>
        
        <div class="field" style="margin-bottom: 8px;">
            <label class="label">Price</label>
            <div class="control">
              <input class="input"  style="padding: 5px 10px;" name="price" type="number" placeholder="$ 50">
            </div>
          </div>
        <div class="field">
        <p class="control">
          <button type="submit" class="button is-success btn-primary" style="padding: 8px 15px; margin-top: 10px; border-radius: 6px;"> Create </button>
        </p>
  
      </div>
    </form>
   </div>
  </div>



{% endblock %}