{% extends 'base1.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div>
    <div class="flex justify-between py-6 px-36 text-gray-600 flex-row border-b bg-bwhiteh-20">
        <div class="text-gray-800 font-bold">637 Capital</div>
        <div> 
            <!-- <input type="text " class="w52 border rounded py-2  w-full px-10" placeholder="Search "> -->
        </div>
        <div class="flex gap-6">
            <div>
                <input type="text " class="w52 border rounded py-2  w-full px-10" placeholder="Search ">
            </div>
            <div>
                <p class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></p>

            </div>
            <div class=" flex gap-4">
                {% if user.is_authenticated %}
                <a class="button is-light" href="{% url 'logout' %}">Log Out</a>
              {% else %}
              <a class="button is-light" href="{% url 'login' %}">Log In</a>
              <a class="button is-light" href="{% url 'register-seller' %}">Register Company</a>
              <!-- <a class="button is-light" href="{% url 'register-buyer' %}">Register Buyer</a> -->
            {% endif %}
            </div>

        </div>
        

    </div>
    <div class="    flex flex-no-wrap overflow-x-auto scrollbar-hide lg:gap-2 lg:pr-[50px]">

        <div >

            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Client Aquicision</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>


        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover; " class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/7550298/pexels-photo-7550298.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Project Planning</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>

        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Client Communication</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>


        <!-- 4 -->
        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Quality Assurance</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>

        <!-- 5 -->
        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Billing</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>

        <!-- 6 -->
        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Project Closure</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>

        <!-- 7 -->
        <div >            
            <div  class="card   lg:h-[560px] mt-2 h-[520px]  ml-[20px] w-[280px] lg:w-[1220px] rounded-2xl bg-transparent pb-2">
            <nuxt-link :to="`/blogs/${item.slug}`">
                <div class="h-40  w-full lg:w-full   rounded-t-2xl"  >
                <img style=" object-fit: cover;" class="lg:h-560 h-[500px] w-full  rounded-2xl " src='https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=1600' alt="">
                <!-- style="background-image: url('https://images.pexels.com/photos/19017576/pexels-photo-19017576/free-photo-of-sunflowers-photograpy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;" -->
            </div>
            </nuxt-link>

            <div class="pl-5 pr-5 pt-2 lg:mt-40 mt-28  mb-4 text-white">
                <div class="" >
                    New
                </div>
                <h2 class=" font-mono lg:text-4xl text-2xl font-bold"> Confidentiality</h2>
                <p class="pb-3 text-white">Here is how we get </p>
                <div class="flex gap-2 mb-3 flex-no-wrap">
                    <div class="flex Hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <div class="flex">
                            <div><Icon class="mt-1" icon="lets-icons:time-light" /></div>
                            <div>12<sup>th</sup> Nov, 2023</div>
                            
                        </div>                             
                        <div class="flex">
                            <div><Icon class="mt-1 " icon="uil:comment" /></div>
                            <div>13 comments</div>
                            
                        </div>
                        
                        

                            
                    </div>
                    
                    <div class="flex hide  lg:flex-row flex-col py-2 text-white lg:visible">
                        <span><Icon   width="24" icon="ei:user" /></span> By, {{item.author}} | 
                        &nbsp; <span><Icon class="mt-1" icon="lets-icons:time-light" /></span>   12<sub>th</sub> Nov, 2023 | 
                        &nbsp; <span> <Icon class="mt-1 " icon="uil:comment" /> </span>
                            13 comments
                    </div>
                </div>
                
            </div>

        </div>
        

        </div>




    </div>

</div>
 
{% endblock %}

