{% extends 'base1.html' %}
{% block content %}  



<div class="flex h-screen lg:flex-row flex-col">
  <div class="bg-blue-400 w-1/2">
    <div class="flex items-center justify-center">
      <div class="lg:pt-40 text-white font-bold text-2xl ">
        <img class="w-80" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTak5whWNd0cn_D-mL75N1-NlPmkycoS0HMPgrKcbaK-jhnuIyyNevOvAOtmZgiEc6zOmE&usqp=CAU" alt="">

       <p class="mt-20">
        Welcome to 637 Capital
       </p>
      </div>
    </div>
  </div>
  <div class="w/1/2 flex pl-60 items-center justify-center">

    
    <form class="p-4 pt-20 px-16 w-[600px] shadow-2xl rounded-2xl" method="POST">
      <h2 class="text-center text-2xl py-4"> Create a Free Account </h2>
      {% csrf_token %}
        <div class="field " style="margin-bottom: 8px;">
          <label class="label py-4 text-gray-600 text-xl  ">Full Name</label>
          <div class="control">
            <p class="border w-full py-4">{{ register_form.name }}</p>
          </div>
        </div>
        <div class="field " style="margin-bottom: 8px;">
            <label class="label py-4 text-gray-600 text-xl  ">Company Email</label>
            <div class="control">
                <div class="border py-4">
                    {{ register_form.email }} 
                </div>
            </div>
          </div>
          <div class="field " style="margin-bottom: 8px;">
            <label class="label py-4 text-gray-600 text-xl  ">Password</label>
            <br>
            <span style="font-size: 12px;"> Enter a secure Password </span> </label> 

            <div class="control border py-4">

                {{ register_form.password1 }} 
            </div>
          </div>
        <div class="field py-4 text-gray-600 text-xl " st yle="margin-bottom: 8px;">
          <label class="label">Confirm Password</label>
          <div class="control">
            <div class="control border py-4">

                {{ register_form.password2 }} 
            </div>
          </div>
        </div>
        <div class="field">
        <p class="control flex items-center mb-4 justify-center">
          <button type="submit" class="button is-success btn-primary bg-blue-600 py-3 rounded-2xl w-full text-white "> Login </button>
        </p>
        <p class="text-left italic flex gap-6 mt-10 pb-20">Don't have an account? <br/> <br/> <a class='bg-success text-blue-600'  href="/login"> Click here to Login</a> .</p>
  
      </div>
    </form>
  </div>

</div>

<!--Register--> 
<!-- <div class="container py-5" style="margin-top: 15px; margin-left: 30px; height: 680px;" >
	<h2>Register Seller</h2>
    <hr>

    <small> click here to register as a buyer <a class="nav-link" href="{% url 'register-buyer' %}"> 👉🏼 Register Buyer</a> </small>
	<form method="POST">
		{% csrf_token %}
         
        <label> Enter Full Name </label> 
        <br/>
        {{ register_form.name }} 

        <br/>
        
        <label> Enter Email </label> 
        <br/>
        {{ register_form.email }} 

        <br/>
        <label> Enter Password
            <br>
             <span style="font-size: 12px;"> Enter a secure Password </span> </label> 
        <br/>
        {{ register_form.password1 }} 

        <br/>
        <label> Confirm Password </label> 
        <br/>
		{{ register_form.password2 }} 
        
        <br/>
        <label>  {{ register_form.is_seller }}  Agree to our terms and services </label> 
        <br/>     
        <br/>       
       
		<button class="btn btn-primary" type="submit">Register</button>
	</form>

    <br/>   
	<p class="text-left">If you already have an account, <br/> <br/> <a class='bg-success' style='border-radius: 4px; padding: 10px 20px; margin:10px 5px' href="/login">login</a> instead.</p>
</div> -->

{% endblock %}


