{% extends 'base.html' %}

{% block content %}

<br />

<h1 class="recommended">Client Acquisition</h1>
<p style='text-align:center; color: #777; margin-bottom: 20px;'>Find out who we are...</p>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <!-- Main Card for Client Acquisition -->
    <div class="card">
      <!-- <img class="card-img-top" style='object-fit:cover;' src="https://images.pexels.com/photos/your-image.jpg" alt="Card image"> -->
      <div class="card-body">
        <h5 class="card-title">Client Acquisition Approach</h5>
        <p class="card-text">
          Identify potential clients through market research, referrals, and networking.
          <br>
          Reach out to potential clients via email or phone call to set up an initial consultation.
          <br>
          During the initial consultation, determine the client's needs and how our services can help.
          <br>
          Prepare and send a proposal that outlines our services, fees, and terms.
          <br>
          Follow up with the client until a decision is made.
        </p>
      </div>
    </div>
    <!-- End of Main Card for Client Acquisition -->
  </div>
</div>

</section>

<!-- End of Card Version 1-->


{% endblock %}
